---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Astro in Docker">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro in Docker</span></h1>
		<p class="instructions">
			This Astro page is running containerized using Docker. Source files exists in your local binded to Docker in <code>/home/node</code>. No nodejs or npm needed to run, only Docker.
		</p>
		<p class="instructions">
			To start, run <code>./dev.sh</code> or the command <code>docker compose -f docker-compose.yml -f docker-compose.dev.yml up --build</code>
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="./hello/"
				title="Say hello"
				body="Just a example markdown page"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
